/* components/TaskManager/FloatingBalls.module.css */

.floatingBalls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.ball {
  position: absolute;
  border-radius: 50%;
}
.blackBall {
  width: 200px;
  height: 200px;
  background-color: black;
}
.redBall {
  width: 500px;
  height: 500px;
  background-color: red;
}

.blueBall {
  width: 675px;
  height: 675px;
  background-color: blue;
}
.cornflowerBall {
  width: 275px;
  height: 275px;
  background-color: #2d86fff7;
}
