.specialcolors{
  background-color: black;
  animation-name: TejBg;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.specialcolors:hover{
  animation-play-state: paused;
}

.specialblockchain{
  background-color: white;
}

.specialEmma{
  background-color: white;
  visibility: none;
}

.fadeaway{
  animation-name: fadeaway;
  animation-duration: 5s;
  animation-iteration-count: 1;
  background-color: white;
}

.specialCameron{
  background-color: white;
}

.specialJonathan{
  background-color: white;
}


@keyframes TejBg{
  from {background-color: aqua;}
  to {background-color: greenyellow;}
}

@keyframes fadeaway {
  from{background-color: white;}

  to {background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);}
}